@import "../../settings";

$button-primary-bg-color: $color-primary;
$button-primary-color: $color-secondary;

.button {
  display: inline-block;
  background: none;
  outline: 0;
  cursor: pointer;

  &--primary {
    background-color: $button-primary-bg-color;
    color: $button-primary-color;
    border: 1px solid $button-primary-bg-color;
    border-radius: 4px;
    padding: ($gutter-half / 2) $gutter-half;
  }

  &--fullwidth {
    width: 100%;
    max-width: 350px;
  }

  &:hover {
    background-color: lighten($button-primary-bg-color, 5);
  }
}
