@import "../../settings";

.button {
  display: inline-block;
  background: none;
  outline: 0;
  cursor: pointer;

  &--primary {
    background-color: $button-primary-bg-color;
    color: $button-primary-color;
    border: 1px solid $button-primary-border-color;
    border-radius: 4px;
    padding: $gutter-half;
  }

  &--fullwidth {
    width: 100%;
    max-width: 350px;
  }

  &:hover {
    background-color: $button-primary-hover-bg-color;
  }

  &::-moz-focus-inner {
    border: 0;
  }
}
