@import "../../settings";

$result-list-checkbox-label-color: $text-color-primary;
$result-list-checkbox-bg-color: $color-secondary;
$result-list-checkbox-border-color: $result-list-checkbox-bg-color;

$result-list-checkbox-checked-label-color: $color-primary;
$result-list-checkbox-checked-bg-color: $result-list-checkbox-checked-label-color;
$result-list-checkbox-checked-border-color: $color-secondary;

$result-list-checkbox-outline-color: $border-color-primary;


.result-list__item {
  flex: 1 0 250px;
}

.awesome-checkbox {
  display: inline-block;
  width: 100%;
  position: relative;
  margin-bottom: 3px;
  cursor: pointer;

  input[type="checkbox"] {
    visibility: hidden;

    &:checked {
      + span {
        color: $result-list-checkbox-checked-label-color;

        &::before {
          background: $result-list-checkbox-checked-bg-color;
          border-color: $result-list-checkbox-checked-border-color;
        }
      }
    }
  }

  span {
    display: inline-block;
    width: 210px;
    margin-left: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: $result-list-checkbox-label-color;

    &::before {
      width: 20px;
      height: 20px;
      position: absolute;
      top: 1px;
      left: 1px;
      background: $result-list-checkbox-bg-color;
      border: 4px solid $result-list-checkbox-border-color;
      outline: 1px solid $result-list-checkbox-outline-color;
      cursor: pointer;
      content: '';
    }

    &:hover::after {
      opacity: 0.5;
    }
  }
}
