@import "../../settings";

.searchbox {
  position: relative;

  &__input {
    width: 100%;
    background-color: #FFF;
    border: 1px solid #C3C2C0;
    padding: $gutter-half;
    border-radius: 4px;
  }

  &::after {
    display: block;
    width: 14px;
    height: 14px;
    position: absolute;
    top: 50%;
    right: $gutter-half;
    transform: translateY(-50%);
    background-image: url('./search.svg');
    content: '';
  }
}
