$gutter: 24px;
$gutter-half: ($gutter / 2);

$color-grey-1: #F8F8F8;
$color-grey-2: #D4D3D1;
$color-grey-3: #C3C2C0;
$color-grey-4: #6C6C6C;
$color-blue-1: #36C;
$color-white-1: #FFF;
$color-black-1: #000;
$color-black-2: #2A2A2A;

$text-color-primary: $color-black-2;

$color-primary: $color-blue-1;
$color-secondary: $color-white-1;

$bg-color-primary: $color-grey-1;

$border-color-primary: $color-grey-2;
$border-color-secondary: $color-grey-3;

$button-primary-bg-color: $color-primary;
$button-primary-border-color: $button-primary-bg-color;
$button-primary-color: $color-secondary;
$button-primary-hover-bg-color: lighten($button-primary-bg-color, 5);

$input-color-primary: $color-black-1;
$placeholder-color-primary: $color-grey-4;
