$gutter: 24px;
$gutter-half: ($gutter / 2);

$color-grey-1: #F8F8F8;
$color-blue-1: #36C;
$color-white-1: #FFF;

$color-primary: $color-blue-1;
$color-secondary: $color-white-1;

$primary-bg-color: $color-grey-1;
