@import "../../settings";

$selectron-bg-color: $primary-bg-color;
$selectron-border-color: #D1D0CE;

.selectron {
  background-color: $selectron-bg-color;
  border: 1px solid $selectron-border-color;
  border-radius: 9px;

  &__wrapper {
    padding: $gutter;
  }

  &__title h1 {
    margin: 0 0 $gutter;
    font-weight: 400;
    font-size: 18px;
  }

  &__action {
    text-align: center;
  }
}
